{% extends "myApp/base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>{{ item.quantity }}x {{ item.product.name }} <span>${{ item.total_price }}</span></li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_price }}</p>
    </div>
    {% if user.is_authenticated %}
        <form action="." method="post" class="order-form">
            {{ form.as_p }}
            <p><input type="submit" value="Place order"></p>
            {% csrf_token %}
        </form>
    {% else %}
        You must login with an account to finish checking out.<br><br>
        Please select one of the following options:<br>
        <a href="{% url 'userModule:login' %}">Login | </a>
        <a href="{% url 'userModule:signup' %}">Signup</a>
    {% endif %}

{% endblock %}
