{% extends "myApp/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <br>
        <form method="post">{% csrf_token %}
            <input type="submit" name="cancel" value="Return to Kitchens">
            <input name="next" type="hidden" value="{% url 'userModule:kitchen_list' %}">
        </form>
        <h1>{{ kitchen.name }}</h1>
        {{ kitchen.description|linebreaks }}<br>
        <h1>Menu</h1><br>
        {# <img src="{% if kitchen.image %}{{ kitchen.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"> #}
        {% for m in kitchen.menu.all %}
            <b>{{ m.name }}</b> || <span style="color:blue">${{ m.price }}</span>
            {% if m.veg %}
                <b><span style="color: green"><br>Vegetarian</span></b><br>
            {% endif %}
            <form action="{% url "cart:cart_add" m.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart">
            </form>
            <br>
        {% endfor %}
    </div>
{% endblock %}